<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>What up</title>
    <style>
      body{background: hotpink; font-family:sans-serif; color: green; padding: 30px;}
      h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
      p, li{font-size: 16px; text-align: center;}
      h2{font-size: 24px;}
    </style>
  </head>
  <body>
    <h1>PROFILE</h1>
    <h2><%= data.salutation %></h2>
    <p>Name: <%= data.name %></p>
    <p>Height: <%= data.height %></p>
    <p>Coolness: <%= data.coolness %></p>
    <h2>A list of numbers</h2>
    <ul>
      <% data.numbers.forEach(num => { %>
        <li><%= num %></li>
      <% }); %>
    </ul>
  </body>
</html>
