<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>What up</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>PROFILE</h1>
    <h2><%= data.salutation %></h2>
    <p>Name: <%= data.name %></p>
    <p>Height: <%= data.height %></p>
    <p>Coolness: <%= data.coolness %></p>
    <h2>A list of numbers</h2>
    <ul>
      <% data.numbers.forEach(num => { %>
        <li><%= num %></li>
      <% }); %>
    </ul>
  </body>
</html>
